h1, p{
    color: #282c34;
}

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.weare {
    padding: 10px;
    flex: 100%;
}

.develop-pic {
    padding: 0px;
    flex: 12%;
}

.description {
    padding: 10px;
    flex: 88%;
}

.meet {
    padding: 10px;
    flex: 100%;
}

.team-pics {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: white;
    width: 100%;
    color: black;
}

.eszti-pic, hanna-pic, berni-pic{
    margin: 20px;
}

.container2 {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}