* {
    box-sizing: border-box;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-align: center;
}

.footer-col-1{
    background-color: #61dafb;
    padding: 10px;
    flex: 30%;
}

.footer-col-2{
    background-color: #61dafb;
    padding: 10px;
    flex: 30%;
}

.footer-col-3{
    background-color: #61dafb;
    padding: 10px;
    flex: 30%;
}