* {
    box-sizing: border-box;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-align: center;
}

.footer-col-1{

}

.footer-col-2{

}

.footer-col-3{

}