body {
    background-color: #ffffff;
    display: grid;
    font-family: system-ui;
    color: white;
}

img {
    border-radius: 25px;
    /*border-radius: 90%;*/
}

.container{
    background-color: #4CB5F5;
    justify-content: space-between;
    padding: 10px;

}

.left{
    width: 30px;
    top: 20px;
    right: 70px;
}

.right{
    left: 0;
    bottom: 0;
    width: 100%;

}