body {
    background-color: #ffffff;
    display: grid;
    font-family: system-ui;
    /*color: white;*/
}

img {
    /*border-radius: 90%;*/
    border-right: 2px solid #00A1F1;
    border-left: 2px solid #00A1F1;
}

.container{
    background-color: #4CB5F5;
    justify-content: space-between;
    padding: 10px;

}

.left{
    width: 30px;
    top: 20px;
    right: 70px;
}

.right{
    text-align: right;
    border-bottom: 2px solid #00A1F1;
    border-top: 2px solid #00A1F1;
    float: right;
}

.card-inside {
    display: inline-flex;
}