.searchbarContainer {
    width: max-content;
}

.taskTitle {
    color: white;
}

.search-menu {
    background-color: #B3C100;
}

.dropdown-menu {
    border: 0px !important;
}
.dropdown-item {
    color: white !important;
    padding-left: 1px !important;
}

.dropdown-item:hover{
    color: black !important;
    background-color: white;
}
