
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 11rem;
}
.card {
    width: 20%;
    margin-right: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    color: black;
    background-color: lightskyblue;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #00A1F1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

img {
    border-radius: 0;
}

.payButton {
    width: max-content;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bold;

    padding: 0.4em;
    margin-right: 1em;
    margin-left: 1em;
}

.payButton:hover {
    text-decoration: none;
}

.payButton:focus {
    color: black;
}

.filter-container {
    padding-bottom: 0.5em;
}

.payButtonCont {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
}

.blue-bg {
    background-color: #00A1F1;
}

.green-bg {
    background-color: #B3C100;
}

h1.filter {
    width: fit-content;
    padding-right: 3em;
    padding-left: 3em;
    border-bottom: 2px solid lightskyblue;
}

.filter-text-container {
    display: flex;
    justify-content: center;
}